@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=Dosis:wght@300&display=swap');
*{
    margin:0;
    padding: 0;
    font-weight: 800;
    font-family: 'Bitter', serif;
}
.container{
    background: linear-gradient(to right,#fb8500,#ffb703);
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;

}
.inner__container ul{
    list-style: none;
    padding-top: 10px;
}
.inner__container li{
    padding: 10px;
}
button{
    width: 100px;
    height: 45px;
    font-size: 20px;
    border-radius:10px;
}
.inner__container{
    border-radius: 10px;
    background-color: #f9c74f;
    box-shadow: 0 10px 0 20px #f9c74f;
    position: relative;
    width: 60vw;
    height: 50vh;
}
.inner__container #submit{
    bottom: 0;
    left: 40%;
    position: absolute;
}
.showArea{
    display: none;
}
#showScore{
    position: absolute;
    left: 38%;
    bottom: -30px;
}